<section>

    <h2>Productos</h2>

    <p>Estos son algunos de los productos que ofrecemos:</p>

    <table border="1">

        <thead>
            <tr>
                <th>Producto</th>
                <th>Categoría</th>
                <th>Precio</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Papas</td>
                <td>Alimentos</td>
                <td>Q15.00</td>
            </tr>

            <tr>
                <td>Hamburguesa</td>
                <td>Comida chatarra</td>
                <td>Q25.00</td>
            </tr>

            <tr>
                <td>shucos</td>
                <td>comida chatarra</td>
                <td>Q10.00</td>
            </tr>

            <tr>
                <td>Pizza</td>
                <td>Comida chatarra</td>
                <td>Q30.00</td>
            </tr>
        </tbody>

    </table>

</section>