<section>

    <h2>Usuarios</h2>

    <p>Información de algunos usuarios:</p>

    <table border="1">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Correo</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>Alexander</td>
                <td>17</td>
                <td>anoh-2025039@kinal.edu.gt</td>
            </tr>


            <tr>
                <td>Juan Pablo</td>
                <td>17</td>
                <td>Jboj-2025117@kinal.edu.gt</td>
            </tr>


            <tr>
                <td>Angel Aquino</td>
                <td>17</td>
                <td>aaquino-2025076@kinal.edu.gt</td>
            </tr>

            <tr>
                <td>Angel Esteban</td>
                <td>17</td>
                <td>agarcia-2025261@kinal.edu.gt</td>
            </tr>

            <tr>
                <td>Marcos Eriberto</td>
                <td>17</td>
                <td>msantos-2025040@kinal.edu.gt</td>
            </tr>
        </tbody>

    </table>

</section>